<h1>index</h1>

<ul>
  <% @tasks.each do |task| %>
    <li><%= link_to task.title, task_path(task.id)%></li>
  <% end %>
</ul>

<%= link_to "Add task", add_path%>

<%# Links
<a href="tasks/<%= task.id "><%= task.title %></a>

<%# Use link_to %>
<%#
<%= link_to task.title, task_path(task.id) %>
